@model IEnumerable<SandraConfecciones.Models.Factura>

@{
    ViewData["Title"] = "Listado de Facturas";
}



<div class="container mt-4">
    <h2>Listado de Facturas</h2>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary mb-2">Crear nueva factura</a>
    }
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                @if (User.IsInRole("Admin"))
                {
                    <th>
                        Acciones
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.FacturaId">Imprimir</a>
                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.FacturaId">Editar</a>
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.FacturaId">Eliminar</a>

                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>